In [2]:
import pandas as pd
import numpy as np

In [3]:
veri = pd.read_csv("Credit Risk Data.csv", sep=";")

In [4]:
veri.info()
## saving float64 olmalı ancak yanlış kayıt edilmiştir.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Loan Purpose     425 non-null    object
 1   Savings          425 non-null    object
 2   Months Customer  425 non-null    int64
 3   Months Employed  425 non-null    int64
 4   Gender           425 non-null    object
 5   Marital Status   425 non-null    object
 6   Age              425 non-null    int64
 7   Housing          425 non-null    object
 8   Years            425 non-null    int64
 9   Credit Risk      425 non-null    object
dtypes: int64(4), object(6)
memory usage: 33.3+ KB

In [5]:
yeni_veri =veri.rename(columns={"Loan Purpose":"Kredi Amaci",
                    "Savings":"Tasarruf",
                    "Months Customer":"Aylik musteri",
                    "Months employed":"Aylik calisan",
                    "Gender":"Cinsiyet",
                    "Marital Status":"Medeni durumu",
                    "Age":"Yas",
                    "Housing": "Konut",
                    "Years":"Yil",
                    "Credit Risk" : "Kredi riski"})
yeni_veri

,Kredi Amaci,Tasarruf,Aylik musteri,Months Employed,Cinsiyet,Medeni durumu,Yas,Konut,Yil,Kredi riski
0,Small Appliance,$739,13,12,M,Single,23,Own,3,Low
1,Furniture,$1.230,25,0,M,Divorced,32,Own,1,High
2,New Car,$389,19,119,M,Single,38,Own,4,High
3,Furniture,$347,13,14,M,Single,36,Own,2,High
4,Education,$4.754,40,45,M,Single,31,Rent,3,Low
...,...,...,...,...,...,...,...,...,...,...
420,Small Appliance,$0,7,51,M,Single,35,Other,4,Low
421,Furniture,$0,31,53,M,Single,30,Own,4,High
422,New Car,$0,25,103,F,Divorced,28,Own,2,High
423,New Car,$712,16,6,F,Divorced,28,Own,2,High
424,New Car,$912,7,39,M,Single,44,Own,3,Low

In [12]:
##Kategorik değişken düzeyleri
# Kredi amacı:10
# Cinsiyet: 2
# Medeni durumu:3
# Konut:3
# Kredi riski: 2
yeni_veri["Konut"].describe()

count     425
unique      3
top       Own
freq      292
Name: Konut, dtype: object

In [6]:
## iki düzeyli kategorik değişkenlerde LabelEncoder kullanırken, ikiden fazla düzeyli kategorik değişkenlerde one hot encoder yapılmalıdır.
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

lbe= preprocessing.LabelEncoder()
yeni_veri["yeni_cinsiyet"] = lbe.fit_transform(yeni_veri["Cinsiyet"])
yeni_veri["yeni_kredi_riski"] = lbe.fit_transform(yeni_veri["Kredi riski"])

yeni_veri.drop("Cinsiyet",axis=1, inplace=True)
yeni_veri.drop("Kredi riski", axis=1, inplace=True)

In [7]:
yeni_veri = pd.get_dummies(data=yeni_veri, columns=["Kredi Amaci"])
yeni_veri = pd.get_dummies(data=yeni_veri, columns=["Konut"])
yeni_veri = pd.get_dummies(data=yeni_veri, columns=["Medeni durumu"])

In [8]:
## tasarruf değişkenini object to float64 haline getirirsek
yeni_veri["Tasarruf"] = yeni_veri["Tasarruf"].str.replace("$","").astype(np.float64)

/tmp/ipykernel_570/2437776558.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  yeni_veri["Tasarruf"] = yeni_veri["Tasarruf"].str.replace("$","").astype(np.float64)

In [9]:
yeni_veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Tasarruf                     425 non-null    float64
 1   Aylik musteri                425 non-null    int64
 2   Months Employed              425 non-null    int64
 3   Yas                          425 non-null    int64
 4   Yil                          425 non-null    int64
 5   yeni_cinsiyet                425 non-null    int64
 6   yeni_kredi_riski             425 non-null    int64
 7   Kredi Amaci_Business         425 non-null    uint8
 8   Kredi Amaci_Education        425 non-null    uint8
 9   Kredi Amaci_Furniture        425 non-null    uint8
 10  Kredi Amaci_Large Appliance  425 non-null    uint8
 11  Kredi Amaci_New Car          425 non-null    uint8
 12  Kredi Amaci_Other            425 non-null    uint8
 13  Kredi Amaci_Repairs          425 non-null    uint8
 14  Kredi Amaci_Retraining       425 non-null    uint8
 15  Kredi Amaci_Small Appliance  425 non-null    uint8
 16  Kredi Amaci_Used Car         425 non-null    uint8
 17  Konut_Other                  425 non-null    uint8
 18  Konut_Own                    425 non-null    uint8
 19  Konut_Rent                   425 non-null    uint8
 20  Medeni durumu_Divorced       425 non-null    uint8
 21  Medeni durumu_Married        425 non-null    uint8
 22  Medeni durumu_Single         425 non-null    uint8
dtypes: float64(1), int64(6), uint8(16)
memory usage: 30.0 KB